@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ========================================
================ HEADER ================
======================================== */
header {
    height: 100vh;
    background: url('../img/h5-revolution-img-1.jpg');
}

.sectionHeader {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    position: fixed;
    width: 100%;
}

header h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 0px 15px;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}

.reseau a {
    color: white;
    margin: 0px 10px;
}

.logoHeader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logoHeader img {
    width: 750px;
    height: 750px;
    margin-top: 120px;
}

li a:hover, .reseau a:hover {
    opacity: 0.8;
}

/* ================================================
================ Body section citation ================
================================================= */

.citation {
    height: 400px;
    background-color: #c59d5f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.citation p {
    width: 93%;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 4em;
    padding: 20px 0px;
    text-transform: uppercase;
    text-align: center;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ================================================
================ Body section traditions ================
================================================= */

.displayGrid {
    display: grid;
    grid-template-rows: repeat(2, 800px);
    grid-template-columns: repeat(2, 1fr);
}

.texte {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texte a {
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    background: #c59d5f;
    border-radius: 10px;
    padding: 15px 60px;
    transition: 0.5s;
}

.texte a:hover {
    opacity: 0.8;
}

.logoUn, .logoDeux {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoUn {
    background: url('../img/h5-el-holder-img-1-1.jpg') center/cover no-repeat;
}

.logoDeux {
    background: url('../img/h5-el-holder-img-2.jpg') center/cover no-repeat;
}

.box h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.6em;
    font-weight: 600;
}

.box h3 {
    font-family: 'Times New Roman', Times, sans-serif;
    font-style: italic;
    font-weight: 300;
    opacity: 0.8;
}

.box p {
    padding: 25px;
    width: 85%;
    font-family: 'Raleway', serif;
    color: gray;
    line-height: 1.6;

}


/* ================================================
================ Body section galerie ================
================================================= */

.galerie {
    height: 445px;
    display: flex;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.fondPlus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(197, 157, 95, 0);
    z-index: 1;
}

.fondPlus i {
    transition: opacity 0.5s;
    transition: transform 1s;
    opacity: 0;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
    z-index: 0;
}

.galerie .image:hover img {
    transform: scale(1.1);
    z-index: 2;
}

.galerie .image:hover .fondPlus {
    transition: 0.7s;
    background-color: rgba(197, 157, 95, 0.7);
    z-index: 1;
}

.galerie .image:hover i {
    opacity: 1;
    transform: rotate(90deg);
}

/* ================================================
================ Body section services ================
================================================= */

.services {
    padding: 80px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxServices {
    width: 70%;
    display: flex;
    text-align: center;
}

.cardService h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 800;
    transition: 0.5s;
}

.cardService p {
    font-family: 'Raleway', serif;
    color: gray;
    line-height: 1.6;
    text-align: center;
}

.cardService img {
    margin: 20px 20px;
    filter: sepia(0%);
    transition: 0.5s;
}

.cardService:hover img {
    filter: sepia(100%);
}

.cardService:hover h2 {
    color: #c59d5f;
}


.parallax {
    background-image: url("../img/h5-parallax-img-2.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.parallax h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 400;
    margin: 20px 0px;
}

.parallax p {
    font-family: 'Raleway', serif;
    font-weight: 500;
    font-style: italic;
}

.maps {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maps iframe {
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: drop-shadow(.5em);
}

.customMaps {
    position: relative;
    overflow: hidden;
    border-radius: 15px; /* Optionnel : ajoute des coins arrondis à la carte */
}






footer {
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}